<div class="row">
    <div class="wrapper">
        <div class="header"></div>
        <div class="main main-raised">
            <div class="profile-content">
               <div class="container">
                    <div class="profile row">
                        <div class="avatar">
                            <%= image_tag 'avatar', class: "img-circle img-responsive img-raised"%>
                        </div>
                        <div class="name">
                            <h3 class="title">Innocent Mwandama</h3>
                            <h6>Software Developer</h6>
                        </div>
                    </div>
                    
                    <div  class="row">
                        <h4 class="title text-center"><%= @title%></h4>
                    </div>
                    <div class="form-group description text-center">
                        <p><%= @theme.html_safe %></p>
                        <p><%= @description.html_safe %></p>
                    </div>
                    <div class="row text-center">
                        <%= link_to 'Open Application', {:controller => 'account'} , class: '_1LnA' %>
                    </div>
                    <div style="margin-bottom: 50px; margin-top: 30px"></div>
                </div>
            </div>
        </div>
    </div>
</div>