<!DOCTYPE html>
<html>
  <head>
    <title>MobileBank</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="navbar navbar-info">
        <div class="container-fluid">
          <h4 class="brand">
            <%= link_to  :controller => 'about', :action => 'about', :AccountNo => @account do %>
              <span class="info">Mobile</span>Bank</h4>
            <% end %>
        </div>
      </div>
    </header>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
